@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: #74a4bc !important;
}

.landing {
  background-image: url('../assets/foodtruckbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

#landingButtonToProducts {
  color: white;
  background-color: black;
  height: 60px;
  width: 155px;
}

.landingText {
  color: white;
  font-weight: 700;
}

.navigation {
  background-color: #FEFFEA;
  border-bottom: 3px solid black;
}

#navbar-logo {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 125px;
}

#cart-logo {
  height: auto;
  width: auto;
  max-height: 35px;
  max-width: 125px;
}

#mainlogo {
  margin: auto;
  height: 40%;
  width: 50%;
}

.productCard, .userCard, .paymentCard {
  background-color: #C0E6DE !important;
  width: 30rem;
  height: auto;
  margin: 10px;
}

#productImage {
  height: 300px;
  width: 300px;
}

.productsContainer, .userContainer, .singleProductContainer, .paymentsContainer, .singleUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addProductContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.paymentForm {
  margin: auto;
  width: 45%;
  text-align: center;
}
