@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

#navbar-logo {
  height: auto;
  width: auto;
  max-height: 45px;
  max-width: 250px;
}

#mainlogo {
  margin: auto;
  width: 50%;
}
